.footer {
   background: #000;
   color: #fff;
   margin: 0 !important;
}

.footer_box {
   margin: 0 auto;
   padding: 40px 0;
}

.footer .footer_logo {
   font-size: 26px;
   font-weight: bold;
   background: linear-gradient(to right , #c7f681, #5719f54d);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: inline-block;
   margin-right: 15px;
}

.footer_box ul {
   padding-left: 0 !important;
   list-style: none;
   font-size: 16px;
}

.footer_box ul li a {
   color:  #fff;
}


@media (max-width: 768px) {
   .footer_container {
      height: 49px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
   }

   .footer_container .left_side-nav {
      background-color: #000;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100% !important;
      padding: 0 !important;
   }

   .footer_container .left_side-nav a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
   }

   .footer_container .left_side-nav svg {
      color: #fff;
      margin-right: 0 !important;
   }

   .App {
      width: 100%;
      height: 100%;
      position: relative;
   }
}