/* .profile_user .left_side {
   width: 240px;
} */

.right_side-profile {
   padding: 24px 32px;
}

.profile_user::-webkit-scrollbar {
   width: 5px;
}

.profile_user::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.profile_user::-webkit-scrollbar-thumb {
   background: purple;
}

.profile_user_info {
   /* animation: ListPost .2s ease-in; */
}

@keyframes ListPost {
   0% {
      opacity: 0;
      z-index: -1;
      transform: translateX(100%);
   }
   100% {
      opacity: 1;
      z-index: none;
      transform: translateX(0px);
   }
}

.profile_nav_item:nth-child(2):hover ~ .profile_nav_border.Video {
   transform: translateX(200px) !important;
}


.profile_nav_item:nth-child(1):hover ~ .profile_nav_border.Liked {
   transform: translateX(0px) !important;
}

.profile_user .interface_responsive {
   width: 240px;
   flex: 0 0 240px;
}

.profile_user .interface_responsive .left_side {
   width: 240px;
}

.interface_responsive {
   z-index: 12;
   width: 356px;
   flex: 0 0 356px;
}

.profile_user .user_page {
   flex: 1;
}

@media (max-width: 1080px) {
   .interface_responsive {
      width: 72px;
      flex: 0 0 72px;
   }

   .profile_user .interface_responsive {
      width: 72px;
      flex: 0 0 72px;
   }

   .profile_user .interface_responsive .left_side {
      width: 72px;
   }
}

/* Edit Profile */

.edit_profile {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   right: 0;
   height: 100vh;
   width: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
   animation: edit_profile_animation 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@keyframes edit_profile_animation {
   0% {
      width: 2px;
   }
   100% {
      width: 100%;
   }
}

@keyframes auth_box_animation {
   0% {
      opacity: 0;
      transform: translateY(-1000px);
   }

   100% {
      opacity: 1;
   }
}

.edit_profile .edit_profile_box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   height: 700px;
   width: auto;
   max-width: calc(100vw - 32px);
   border-radius: 10px;
   animation: auth_box_animation 500ms ;
}

.edit_profile .edit_profile_box .edit_profile_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px 24px 12px;
   border-bottom: 1px solid #ddd;
}

.edit_profile .edit_profile_box .edit_profile_header h3 {
   font-size: 24px;
   font-weight: bold;
}
.edit_profile .edit_profile_box .edit_profile_header >  div {
   font-size: 30px;
   transform: translateY(-5px);
   cursor: pointer;
}


.edit_profile .edit_profile_box .edit_profile_content {
   padding: 8px 24px 0px;
   width: 700px;
}

.edit_profile .edit_profile_box .edit_profile_content_item {
   display: flex;
   border-bottom: 1px solid #ddd;
}

.edit_profile .edit_profile_box .edit_profile_content_item > div {
   padding: 16px 0;
}

.edit_profile .edit_profile_box .edit_profile_content_item .mr-2 {
   width: 120px;
   font-weight: 500;
}

.edit_avatar {
   position: relative;
}

.edit_avatar span {
   position: absolute;
   cursor: pointer;
   padding: 4px;
   border-radius: 50%;
   background-color: #fff;
   right: 5px;
   bottom: 20px
}

.edit_avatar span svg {
   pointer-events: none;
   z-index: -1;
}

.edit_avatar span input {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}

@media (max-width: 768px) {
   .profile_user .interface_responsive {
      display: none;
   }

   .profile_user .card_text {
      display: none !important;
   }

   .profile_user .right_side-profile {
      padding: 0;
   }

   .profile_user .header_profile {
      width: 100%;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #eee;
      position: relative;
   }

   

   .profile_user .header_profile p {
      font-size: 16px;
      font-weight: bold;
      color: #000;
   }

   .profile_user .header_profile .header_profile_options {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
   }

   .profile_user .header_profile .arrow_prev_page {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
   }

   .profile_user .profile_user_info {
      flex-direction: column;
      margin-top: 16px;
   }

   .profile_user .profile_user_sub_info div {
      justify-content: center;
   }

   .profile_user .winterId {
      font-size: 20px !important;
      margin-top: 10px;
      text-align: center;
   }

   .profile_user .profile_user_story.no-story {
      text-align: center;
   }

   .profile_user .profile_user_story.story {
      text-align: left;
   }

   .profile_user .text_margin {
      margin-left: 0 !important;
   }

   .profile_user .post_thumb {
      margin: 0 !important;
      grid-gap: 1px;
      padding:  24px 0 !important;
      grid-template-columns: repeat(3, 1fr) !important;
   }

   .profile_user .post_thumb .post_thumb_display {
      border-radius: 0 !important;
   }
   .profile_user .post_thumb .post_thumb_display video {
      border-radius: 0 !important;
   }

   .profile_user .post_thumb_display {
      width: 129px !important;
      min-width: auto !important;
      height: 180px !important;
   }

   .profile_user .post_thumb_display img {
      height: 100%;
      width: 100%;
   }

   .profile_user {
      height: calc(100vh - 49px);
      overflow-x: hidden;
      overflow-y: auto;
      overscroll-behavior-y: contain;
   }
}