.toast {
   top: 0;
   right: 20px;
   transform: translate(0, -1000px) !important;
   opacity: 0 !important;
   z-index: 11;
   transition: top 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
}


.toast.show {
   top: 80px;
   transform: translateY(0px) !important;
   opacity: 1 !important;
}

